<p id="notice"><%= notice %></p>

<h1>Noticias</h1>

<table>
  <thead>
    <tr>
      <th>Titular</th>
      <th>Bajada</th>
      <th>Cuerpo</th>
      <th>Creada en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @press_releases2.each do |press_release| %>
      <tr>
        <td><%= press_release.headline %></td>
        <td><%= press_release.subheadline %></td>
        <td><%= truncate(press_release.body, :length => 1000, separator: ' ', omission: '') + '...'%></td>
        <td><%= press_release.created_at.strftime("%e %b %Y %H:%M:%S%p") %></td>
        <td><%= link_to 'Show', press_release %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Administrador', "press_releases#index" %>
