<p id="notice"><%= notice %></p>

<h1><u>Noticias</u></h1><%= link_to 'Ver como administrador', "press_releases#index" %>


<table border=1 frame=void rules=rows>
  <thead>
    <tr>
      <th></th>
      <th>Creada en</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @press_releases2.each do |press_release| %>
      <tr>
        <td><h2><%= press_release.headline %></h2>
        <h4><%= press_release.subheadline %></h4>
        <%= truncate(press_release.body, :length => 1000, separator: ' ', omission: '...')%></td>
        <td><%= press_release.created_at.strftime("%e %b %Y %H:%M:%S%p") %></td>
        <td><%= press_release.comments.count %></td>
        <td><%= link_to 'Ver más', press_release %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
