<p id="notice"><%= notice %></p>

<h1><u>Noticias</u></h1>
<%= link_to 'Escribir nueva noticia', new_press_release_path %>
<%= link_to 'Ver como usuario', root_path %>

<center><table border="1"></center>
  <thead>
    <tr>
      <th>Titular</th>
      <th>Bajada</th>
      <th>Creada en</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @press_releases.each do |press_release| %>
      <tr>
        <td><%= press_release.headline %></td>
        <td><%= press_release.subheadline %></td>
        <td><%= press_release.created_at.in_time_zone('Brasilia').strftime("%e %b %Y %H:%M:%S%p") %></td>
        <td><%= link_to 'Ver', press_release %></td>
        <td><%= link_to 'Editar', edit_press_release_path(press_release) %></td>
        <td><%= link_to 'Eliminar', press_release, method: :delete, data: { confirm: '¿Está seguro de eliminar esta noticia?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
