<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @press_release.headline %>
</p>

<p>
  <strong>Subheadline:</strong>
  <%= @press_release.subheadline %>
</p>

<p>
  <strong>Body:</strong>
  <%= @press_release.body %>
</p>

<br>

<h1>Comentarios</h1>
<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments2.each do |comment| %>
      <tr>
        <td><%= comment.author %></td>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Agregar comentario', new_press_release_comment_path(@press_release) %> |
<%= link_to 'Back', root_path %>
