<p id="notice"><%= notice %></p>

<h1><%= @press_release.headline %></h1>


<h4><%= @press_release.subheadline %></h4>


<%= @press_release.body %>

<br>
<br>
<hr>
<h3><u>Comentarios</u></h3>

<% @comments2.each do |comment| %>
    <b><%= comment.author + ': '%></b>
    <%= comment.content %><br>
    <%= "------"%><br>
<% end %>
<br>

<%= link_to 'Agregar comentario', new_press_release_comment_path(@press_release) %> |
<%= link_to 'Back', root_path %>
